@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

/* ---------------- Layout ---------------- */
body {
  background: #fff;
  color: #666666;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:  62.5%;
}

.wrapper{
  font-size: 1.4em;
  margin: 0 auto;
  width: 980px;
}

.inner{
  padding: 15px 0;
}

.row{
  max-width: 980px !important;
}

#main{
  font-size: 1.4em;
}

/* ---------------- Global ---------------- */
a{
  color: #2BA3D4;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

h1, h2, h3, h4{
  color: #222;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0;
}
h1{
  font-size: 3.5em;
  margin-bottom: 20px;
}
h2{
  font-size: 3em;
  margin-bottom: 15px;
}
h3{
  font-size: 2.2em;
  margin-bottom: 10px;
}
h4{
  font-size: 1.8em;
  margin-bottom: 10px;
}
h5{
  font-size: 1.5em;
  margin-bottom: 8px;
}

p{
  margin-bottom: 8px;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.fleft{
  float: left;
}

.fright{
  float: right;
}
img.fleft{
  margin: 0 15px 0 0;
}

img.fright{
  margin: 0 0 15px 15px;
}

.container{
  overflow: hidden;
}

.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}

/* ---------------- header ---------------- */
.header{
  background: #ecf9fe;
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  border-bottom: 1px solid #3DC0F1;
  opacity: 0.9;
  width: 100%;
  z-index: 10;
  &.home{
    background: #fff;
  }
  .logo{
    display: inline-block;
    overflow: hidden;
    span{
      font-size: 2em;
      line-height: 2.15em;
    }
  }
  .top-nav{
    ul{
      li{
        display: inline-block;
        list-style: none;
        a{
          font-size: 1.1em;
          display: block;
          padding: 8px 12px;
          text-decoration: none;
        }
        &.active, &:hover{
          a{
            background: #2BA3D4;
            @include border-radius(3px);
            color: #fff;
          }
        }
      }
    }
  }
}

/* ---------------- content ---------------- */
.content{
  padding-top: 65px;
  z-index: 3;
}
.features{
  background: #3DC0F1;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  padding: 130px 0 130px 0;
  margin-bottom: 20px;
  text-align: center;
  h2{
    color: #fff;
  }
}

.components-list{
  padding: 0;
  li{
    border-bottom: 1px solid #3dc0f1;
    list-style: none;
    padding-bottom: 20px;
    h5{
      color: #2ba3d4;
    }
  }
}

.button{
  background: #2ba3d4;
  @include border-radius(3px);
  color: #fff;
  display: inline-block;
  padding: 8px 12px;
  margin: 5px 0;
  text-decoration: none;
}

/* ---------------- footer ---------------- */
.footer{
  background: #252525;
  color: #DDDDDD;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: 20px;
}