<header class="header" ng-include="'views/header.html'"></header>

<section class="content" ng-controller="ComponentsCtrl">
  <div class="row">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="inner">
            <h3>Components:</h3>
            <ul class="components-list">
              <li ng-repeat="component in components">
                <a ng-href="#start/{{component.id}}">{{component.name}}</a>
                <div ng-include="'components/' + component.id + '/' + component.id + '.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer" ng-include="'views/footer.html'"></footer>