<div class="row" ng-controller="NavCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="large-6 medium-6 small-4 columns">
        <a class="logo" ng-href="/">
          <img class="fleft" src="./../images/logo.png" alt="logo">
          <span class="fleft">ng-components</span>
        </a>
      </div>
      <div class="large-6 medium-6 small-8 columns">
        <nav class="top-nav fright">
          <ul>
            <li ng-class="{active:isActive('/components')}"><a ng-href="#components">Components</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>