<header class="header home" ng-include="'views/header.html'"></header>

<section class="features">
  <div class="row">
    <div class="small-12 columns">
      <h2>Features</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Sed a venenatis metus, non vestibulum risus. </p>
    </div>
  </div>
</section>

<section class="content no-padding">
  <div class="row">
    <div class="small-12 columns">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Sed a venenatis metus, non vestibulum risus. </p>
    </div>
  </div>
</section>

<footer class="footer" ng-include="'views/footer.html'"></footer>