<header class="header home" ng-include="'views/header.html'"></header>

<section class="features">
  <h2>Features</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
    Sed a venenatis metus, non vestibulum risus. </p>
</section>

<section class="content no-padding">
  <div class="wrapper">
    <div class="inner">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
        Sed a venenatis metus, non vestibulum risus. </p>
    </div>
  </div>
</section>

<footer class="footer" ng-include="'views/footer.html'"></footer>